/demoWeb/nbproject/private/
/demoWeb/build/
/Web_ban_dien_thoai/nbproject/private/
/testweb/nbproject/private/
/testweb/build/
/Web_ban_dien_thoai/build/
/JavaApplication2/nbproject/private/
/JavaApplication2/build/
/Hieu_sach/nbproject/private/
/Hieu_sach/build/
/Demo/nbproject/private/
/Demo/build/
BTL_HuongDichVu/Client
BTL_HuongDichVu/Server_dv
