<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="main1.css">
    <link rel="stylesheet" href="base.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>
    <div class="form">
        <div class="form-login">
            <div class="form-login-user">

                <div class="form-login-span">
                    <a href="signin.htm" class="form-login-txt">Đăng ký</a>
                    <a class="form-signin-txt" style="color: var(--primary-color);">Đăng nhập</a>
                </div>
                <input type="text" class="form-login-username" placeholder="Nhập username" required>
                <input type="password" class="form-login-password" placeholder="Nhập password" required>
                <div class="auth-form__aside">
                    <p class="auth-form__policy-text">
                        Bằng việc đăng ký, bạn đã đồng ý với trang web về
                        <a href="" class="auth-form__text-link"> Điều
                            khoản dịch vụ</a> &
                        <a href="" class="auth-form__text-link"> Chính
                            sách bảo mật</a>
                    </p>
                </div>
                <div style="display: flex; justify-content: flex-end;">
                    <button class="form-login-button-login">Đăng nhập</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>